:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#88d9d6;
    --white:#eaeaea;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: 'Patrick Hand', cursive;
}

/*Menu de navegacion*/
#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box{
    margin-left: 20px;
}

.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400px;
    color: var(--black);
}

.menu .lists-container{
    margin-right: 20px;
}

.menu .lists-container .lists{
    display: flex;
}

.menu .lists-container .lists li{
    list-style: none;
}

.menu .lists-container .lists li a{
    text-decoration: none;
    margin: 0 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 15px;
    transition: 0.3s;
}

.menu .lists-container .lists li a.activo{
    background: var(--red);
    color: white;
}

.menu .lists-container .lists li a:hover{
    background: var(--red);
    color: #fff;
}

.btn-menu > .fa-bars{
    display: none;
}
/*end menu de navegacion*/

/*IMG header*/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/img-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: white;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: white;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img-header .welcome > button:hover{
    background: var(--blue);
}
/*end IMG header*/


/*acerca nosotros*/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-nosotros{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.acerca-de .info-nosotros h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-nosotros p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0;
}

.acerca-de .info-nosotros .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.acerca-de .info-nosotros .about-gallery img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.acerca-de .info-nosotros .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-nosotros .about-more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-nosotros .about-more button:hover{
    background: var(--blue);
}
/*end acerca nosotros*/